* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
}

header {
    position: fixed;
  top: 0;
  width: 100%;
    z-index: 10;
    height: auto;
    background-color: #00003c !important;
}

.menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00003c !important;
}

.menu ul {
    display: none;

}

.menu img {
    width: 120px;
    height: 70px;
    margin-left: 10px;
}

.menu li {
    list-style-type: none;
}


@media (min-width:750px) {
    .menu {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        align-items: center;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        align-items: center;
    }

    .menu li {
        list-style-type: none;
        margin-left: 10px;
        white-space: pre-wrap;
        width: 86px;
        /*! background-color: yellow; */
    }

    .banner {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .menu li a {
        text-align: left;
        padding: 14px;
        font-size: 14px;
        display: block;
        transition: 0.1s linear;
    }

}

/* Section */
#background {
    padding-top: 74px;
    display: flex;
    z-index: -1;
    background-color: #a1a1a3;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
   
}

#background img {
    max-width: 800px;
    max-width: 400px;
    min-width: 600px;
    object-fit: cover;
}


#background button {
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: white;
    display: inline-block;
    max-width: 270px;
    padding: 10px 60px;
    background-color: #00003c;
    margin: 0;
    transition: ease-in-out .3s;
}

#background button:hover {
    background-color: #0E0F21;
}

#boxText {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;


}

@media (min-width:1300px) {
    #background {
        height: calc(100vh);
        background-image: url("assets/photos/pexels-woman.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 800px auto;
    }
    #textWrapper {
    display: flex;
    align-items: flex-start;
    margin-right: 280px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    }

    /* #boxText {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: space-between;
        
        
    } */
}

.container-sucesso {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

#container-message img {
    max-width: 200px;
}

.container-sucesso .submit-button {
    display: none;
}
